@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--fallback-b1, oklch(var(--b1) / 1));
    min-height: 100dvh;
  }
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .no-arrow::-webkit-calendar-picker-indicator {
    @apply !hidden !opacity-0;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
